[Desktop Entry]
Version=1.0
Type=Application
Name=Plex Media Player
Comment=
Exec=plexmediaplayer
Terminal=false
Icon=plexmediaplayer
Categories=AudioVideo;Player;
